test/src/test/resources/api-mock.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:module-hello="http://www.mulesoft.org/schema/mule/module-hello"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/module-hello http://www.mulesoft.org/schema/mule/module-hello/current/mule-module-hello.xsd">
    <flow name="fooFlow">
        <logger message="calling module" />
        <module-hello:do-stuff-post doc:name="the name of our connector"/>
        <logger message="done calling module, transforming output to java" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="fooGetFlow">
        <logger message="calling module" />
        <module-hello:do-stuff-get doc:name="the name of our connector" inputParam="#[payload]"/>
        <logger message="done calling module, transforming output to java" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
