test/src/test/resources/simple_xml_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:request-config name="SomeSystem"
                         basePath="/"
                         doc:name="HTTP Request Configuration">
        <http:request-connection host="localhost" port="443" protocol="HTTP"/>
    </http:request-config>
    <flow name="xmlTest">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
    rootElement: {
        key: payload.foo
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem" path="/some_path" method="POST" doc:name="SomeSystem Call"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.rootElementResponse.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="nestedTest">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
    rootElement: {
        anotherElement: {
            key: payload.foo
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem" path="/some_path" method="POST" doc:name="SomeSystem Call"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.rootElementResponse.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
