test/src/main/mule/api-the-app-v1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    <http:listener-config name="test-http-listener-config"
                          doc:name="HTTP Listener Configuration">
        <http:listener-connection host="localhost" port="9999"/>
    </http:listener-config>
    
    <apikit:config name="api-the-app-v1-config"
                   raml="api-the-app-v1.raml"
                   disableValidations="${skip.apikit.validation}"
                   outboundHeadersMapName="outboundHeaders"
                   httpStatusVarName="httpStatus"/>

    <flow name="the-app-main">
        <http:listener config-ref="test-http-listener-config"
                       path="/the-APP/api/v1/*"
                       doc:name="HTTP">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-the-app-v1-config"
                       doc:name="APIkit Router"/>
    </flow>
    <flow name="post:\resources:application\json:api-the-app-v1-config">
        <logger message="made it to post flow!" level="INFO"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\resources\(id):api-the-app-v1-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: 123
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\resources:api-the-app-v1-config">
        <set-variable variableName="foo" value="#[attributes.queryParams.foo]"/>
        <set-variable variableName="bar" value="#[attributes.queryParams.bar]"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: vars.foo + vars.bar,
    requestUri: attributes.requestUri
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\resourceforheader:api-the-app-v1-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: attributes.Headers.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
