test/src/main/mule/simple_json_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="jsonTest">
        <logger message="#[payload]"
                level="INFO"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="correlationTest">
        <set-payload value="#[correlationId]"/>
    </flow>
    <flow name="jsonTestReturnJavaObject">
        <flow-ref name="jsonTest" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="jsonTestException">
        <logger message="#[payload]"
                level="INFO"/>
        <raise-error type="SOME:FAILURE"/>
        <error-handler>
            <on-error-propagate>
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="non-repeatable-stream-test">
        <!-- Logger will consume payload so we should see null on the flip side -->
        <logger message="consuming stream with this log message: #[payload]"
                level="INFO"/>
    </flow>

    <flow name="noInputTest">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: 123
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="jsonListTest">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
    key: $.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="emptyPayloadTest">
        <set-payload value=""/>
    </flow>

    <!-- some Mule transports return this -->
    <flow name="nullPayloadTest">
        <set-payload value="#[null]" mimeType="application/json"/>
    </flow>

    <flow name="stringResponseTest">
        <set-payload value="stringResponse"/>
    </flow>
</mule>
