src/test/resources/batch_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    <http:request-config name="SomeSystem" protocol="HTTP" host="localhost" port="443" basePath="/"
                         doc:name="HTTP Request Configuration"/>
    <flow name="invokesBatchJob">
        <batch:execute name="theJob"/>
    </flow>
    <batch:job name="theJob">
        <batch:process-records>
            <batch:step name="theStep">
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    key: payload.foo
}]]></dw:set-payload>
                </dw:transform-message>
                <set-property propertyName="Content-Type" value="application/json"/>
                <http:request config-ref="SomeSystem" path="/some_path" method="POST" doc:name="SomeSystem Call"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <logger message="entered on-complete" level="INFO"/>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    key: -1
}]]></dw:set-payload>
            </dw:transform-message>
            <set-property propertyName="Content-Type" value="application/json"/>
            <logger message="Making HTTP call from onComplete" level="INFO"/>
            <http:request config-ref="SomeSystem" path="/some_path" method="POST"
                          doc:name="SomeSystem Call from Complete"/>
            <logger message="we executed the onComplete HTTP request" level="INFO"/>
        </batch:on-complete>
    </batch:job>
    <batch:job name="secondJobCallsFirst">
        <batch:input>
            <set-variable variableName="originalPayload" value="#[payload]"/>
        </batch:input>
        <batch:process-records>
            <batch:step name="theStep2">
                <logger message="howdy"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <set-payload value="#[flowVars.originalPayload]"/>
            <batch:execute name="theJob"/>
        </batch:on-complete>
    </batch:job>
    <batch:job name="secondJobCallsFirstTwice">
        <batch:input>
            <set-variable variableName="originalPayload" value="#[payload]"/>
        </batch:input>
        <batch:process-records>
            <batch:step name="theStep2">
                <logger message="howdy"/>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <set-payload value="#[flowVars.originalPayload]"/>
            <enricher target="#[flowVars.trash">
                <batch:execute name="theJob"/>
            </enricher>
            <batch:execute name="theJob"/>
        </batch:on-complete>
    </batch:job>
</mule>
