src/test/resources/http_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:request-config name="SomeSystem"
                         basePath="/"
                         doc:name="HTTP Request Configuration">
        <http:request-connection host="localhost" port="443" protocol="HTTP"/>
    </http:request-config>
    <flow name="restRequest">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem" path="/some_path" method="POST" doc:name="SomeSystem Call"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="restRequestString">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem" path="/some_path" method="POST" doc:name="SomeSystem Call"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>


    <flow name="restRequestWithChoice">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <choice>
            <when expression="#[true]">
                <http:request config-ref="SomeSystem"
                              path="/some_path"
                              method="POST"
                              doc:name="SomeSystem Call"/>
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.reply + 1
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <logger message="should not hit this"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="restRequestGet">
        <http:request config-ref="SomeSystem"
                      path="/some_path"
                      method="GET"
                      doc:name="SomeSystem Call"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>


    <flow name="restRequestContentTypeNotSet">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem"
                      path="/some_path"
                      method="POST"
                      doc:name="SomeSystem Call"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="restRequestContentTypeNotSetForMock">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem"
                      path="/some_path"
                      method="POST"
                      doc:name="SomeSystem Call"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="hasHttpStatus">
        <!--<set-property propertyName="http.status" value="201"/>-->
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="noHttpStatus">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="nullEvent">
        <!--<idempotent-message-filter idExpression="#[payload.get('foo').asText()]"/>-->
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="queryParameters">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem"
                      path="/some_path/{howdy}"
                      method="GET"
                      doc:name="SomeSystem Call">
            <http:uri-params>
                <![CDATA[#[output application/java
                ---
                {
                    howdy: 'there'
                }
                }]]]>
            </http:uri-params>
            <http:query-params>
                <![CDATA[#[output application/java
                ---
                {
                    stuff: 123
                }
                }]]]>
            </http:query-params>
        </http:request>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="queryParametersHttpStatus">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem"
                      path="/some_path/{howdy}"
                      method="GET"
                      doc:name="SomeSystem Call">
            <http:uri-params>
                <![CDATA[#[output application/java
                ---
                {
                    howdy: 'there'
                }
                }]]]>
            </http:uri-params>
            <http:query-params>
                <![CDATA[#[output application/java
                ---
                {
                    stuff: 123
                }
                }]]]>
            </http:query-params>
            <http:response-validator>
                <http:success-status-code-validator values="200,201"/>
            </http:response-validator>
        </http:request>
        <set-variable variableName="theStatus" value="#[message.inboundProperties.'http.status']"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: flowVars.theStatus
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="queryParametersEnricher">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="SomeSystem"
                      path="/some_path/{howdy}"
                      target="somePlace"
                      method="GET"
                      doc:name="SomeSystem Call">
            <http:headers>
                <![CDATA[#[output application/java
                ---
                {
                    theHeaderName: 'theHeaderValue'
                }
                }]]]>
            </http:headers>
            <http:uri-params>
                <![CDATA[#[output application/java
                ---
                {
                    howdy: 'there'
                }
                }]]]>
            </http:uri-params>
            <http:query-params>
                <![CDATA[#[output application/java
                ---
                {
                    stuff: 123
                }
                }]]]>
            </http:query-params>
        </http:request>
        <set-payload value="#[vars.somePlace]"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    reply_key: payload.reply + 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
