src/test/resources/simple_json_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="jsonTest">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    key: payload.foo
}]]></dw:set-payload>
        </dw:transform-message>
        <set-property propertyName="Content-Type" value="application/json"/>
    </flow>

    <flow name="filterJsonTest">
        <byte-array-to-string-transformer/>
        <json:json-to-object-transformer/>
        <idempotent-message-filter idExpression="#[payload.get('foo').asText()]"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    key: payload.foo
}]]></dw:set-payload>
        </dw:transform-message>
        <set-property propertyName="Content-Type" value="application/json"/>
    </flow>

    <flow name="emptyPayloadTest">
        <set-payload value="" />
    </flow>

    <flow name="wrongContentTypeTest">
        <set-payload value="foo" />
        <set-property propertyName="Content-Type" value="application/json"/>
    </flow>

    <!-- some Mule transports return this -->
    <flow name="nullPayloadTest">
        <set-payload value="#[org.mule.transport.NullPayload.getInstance()]" />
    </flow>

    <flow name="jsonTestNoContentType">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    key: payload.foo
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>

    <flow name="noStreamingTest">
        <set-payload value="{ &quot;key&quot;: &quot;#[payload.class.getName()]&quot; }"/>
        <set-property propertyName="Content-Type" value="application/json"/>
    </flow>

    <flow name="stringResponseTest">
        <set-payload value="stringResponse"/>
        <set-property propertyName="Content-Type" value="text/plain"/>
    </flow>
</mule>
