src/test/resources/simple_json_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="jsonTest">
        <logger message="#[payload]"
                level="INFO"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: payload.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="noInputTest">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    key: 123
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="jsonListTest">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
    key: $.foo
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <flow name="emptyPayloadTest">
        <set-payload value=""/>
    </flow>

    <flow name="wrongContentTypeTest">
        <set-payload value='{"wrong": 123}' mimeType="application/json"/>
    </flow>

    <!-- some Mule transports return this -->
    <flow name="nullPayloadTest">
        <set-payload value="#[org.mule.transport.NullPayload.getInstance()]"/>
    </flow>

    <flow name="stringResponseTest">
        <set-payload value="stringResponse"/>
    </flow>
</mule>
