src/test/resources/soap_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
      xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
      xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <ws:consumer-config name="Web_Service_Consumer" service="SOAPTestService" port="SOAPTestService"
                        serviceAddress="http://localhost:8081" wsdlLocation="soap/test.wsdl"
                        doc:name="Web Service Consumer"/>
    <apikit-soap:config name="/SOAPTestService/SOAPTestService/api-config"
                        wsdlUrl="soap/test.wsdl"
                        serviceName="SOAPTestService"
                        portName="SOAPTestService" doc:name="APIkit SOAP: Configuration"/>
    <flow name="soaptestFlow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	ns0#SOAPTestRequest: {
		ns0#title: 'theTitle ' ++ payload.foo,
		ns0#approvalDate: '2017-04-01'
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer"
                     operation="operation1"
                     doc:name="A SOAP Call"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	result: payload.ns0#SOAPTestResponse.details
}]]></dw:set-payload>
        </dw:transform-message>
        <set-property propertyName="Content-Type" value="application/json"/>
    </flow>
    <flow name="/some/soap/flow">
        <logger message="invoked" level="INFO"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	ns0#SOAPTestResponse: {
		ns0#details: 'theTitle ' ++ payload.ns0#SOAPTestRequest.title
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="/some/soap/flow/messagepayloadasstring">
        <logger message="before, payload is of type #[payload.getClass().getName()] loaded from source #[payload.getClass().getProtectionDomain().getCodeSource().getLocation()]"
                level="INFO" doc:name="Logger"/>
        <set-variable variableName="readerTest" value="#[payload.getReader()]"/>
        <logger message="before, underlying reader is #[flowVars.readerTest.getClass().getName()] loaded from source #[flowVars.readerTest.getClass().getProtectionDomain().getCodeSource().getLocation()]"
                level="INFO" doc:name="Logger"/>
        <set-variable variableName="readerTest" value="#[payload.getReader().getDelegateReader()]"/>
        <logger message="before, underlying reader 2 is #[flowVars.readerTest.getClass().getName()] loaded from source #[flowVars.readerTest.getClass().getProtectionDomain().getCodeSource().getLocation()]"
                level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.payloadAs(java.lang.String)]" doc:name="Set Payload"/>
        <logger message="payload is now #[payload] of type #[payload.getClass().getName()]" level="INFO"
                doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	ns0#SOAPTestResponse: {
		ns0#details: 'theTitle ' ++ payload.ns0#SOAPTestRequest.title
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="api-main">
        <apikit-soap:router config-ref="/SOAPTestService/SOAPTestService/api-config" doc:name="SOAP Router"/>
    </flow>
    <flow name="operation1:/SOAPTestService/SOAPTestService/api-config">
        <logger message="invoked" level="INFO"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	ns0#SOAPTestResponse: {
		ns0#details: 'theTitle ' ++ payload.ns0#SOAPTestRequest.title
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
