src/test/resources/soap_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
      xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="test-http-listener-config"
                          doc:name="HTTP Listener Configuration">
        <http:listener-connection host="localhost" port="9999"/>
    </http:listener-config>
    <wsc:config name="Web_Service_Consumer">
        <wsc:connection wsdlLocation="soap/test.wsdl"
                        service="SOAPTestService"
                        port="SOAPTestService"
                        address="http://localhost:8081"/>
    </wsc:config>
    <apikit-soap:config name="soapkit-config"
                        wsdlLocation="soap/test.wsdl"
                        service="SOAPTestService"
                        port="SOAPTestService" doc:name="APIkit SOAP: Configuration"/>
    <wsc:config name="Web_Service_Consumer_Calculator">
        <wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl"
                        service="Calculator"
                        port="CalculatorSoap"
                        address="http://www.dneonline.com/calculator.asmx"/>
    </wsc:config>
    <flow name="soaptestFlow">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	ns0#SOAPTestRequest: {
		ns0#title: 'theTitle ' ++ payload.foo,
		ns0#approvalDate: '2017-04-01'
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume config-ref="Web_Service_Consumer"
                     operation="operation1"
                     doc:name="A SOAP Call"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	result: payload.ns0#SOAPTestResponse.details
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="soaptestFlowNoPayloadChange">
        <logger message="howdy"/>
    </flow>
    <flow name="\some\soap\flow">
        <logger message="invoked" level="INFO"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	ns0#SOAPTestResponse: {
		ns0#details: 'theTitle ' ++ payload.ns0#SOAPTestRequest.title
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="api-main">
        <http:listener config-ref="test-http-listener-config"
                       path="/*"
                       doc:name="HTTP"/>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
                %dw 2.0
                output application/java
                ---
                {
                headers: attributes.headers,
                method: attributes.method,
                queryString: attributes.queryString
                }]
            </apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="operation1:\soapkit-config">
        <logger message="invoked" level="INFO"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.avioconsulting.com/schemas/SOAPTest/v1
---
{
	ns0#SOAPTestResponse: {
		ns0#details: 'theTitle ' ++ payload.ns0#SOAPTestRequest.title
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="weatherSoapFaultFlow">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org
---
{
	ns0#Add: {
		intA: 123,
		intB: 456
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume config-ref="Web_Service_Consumer_Calculator"
                     operation="Add"
                     doc:name="Get Weather"/>
    </flow>
</mule>
